canvas {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right top, #74646d, #755e72, #735a79, #6a5782, #5b568d, #4f629e, #3a6ead, #007aba, #0094cb, #00add3, #00c5d4, #00dcce);
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Roboto, serif;
    
}